@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

$lighter: lighter(black);

.App {
  display: flex;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  backgroundColor: lightgray;
	.listing-container {
		display: flex;
		max-width: 992px;
		flex-direction:column;
		width:100%;
		padding: 20px;

		.title-container {
			flex-direction: row;
			margin-bottom:20px;

			.title {
			    display: flex;
			    width: 100%;
			    justify-content: center;
			    align-items: center;
			    text-align: center;
			    font-size:20px;
			    font-weight:700;
			}

			.title:after {
			    content: '';
			    border-top: 1px solid rgba(0,0,0,0.2);
			    margin: 0 0 0 10px;
			    flex: 1 0 20px;
			}
		}

		.search-list-container {
			padding:20px;
			background-color:white;
			.input-container{
				margin-bottom:20px;
			}

			.pagination-container {
				display: flex;
			    align-items: center;
			    justify-content: center;
			}

			.list-container {
				.result {
					font-size:20px;
					font-weight:700;
					color:black;
					padding:10px 0;
				    border-bottom: 1px solid rgba(0,0,0,0.2);

				}

				.spinner {
					display: flex;
				    height: 200px;
				    align-items: center;
				    justify-content: center;
				}

				.card-container {
					display: flex;
				    flex-direction: row;
				    flex: 1;
				    border-bottom: 1px solid rgba(0,0,0,0.2);
				    margin: 20px 0;

				    .right-side-container {
				    	flex: 1;
    					display: flex;
				    }

				    @media (max-width: 768px) {
				    	flex-direction: column;
				    	padding-bottom:20px;
  						
					}
				}

				.left-side {
					flex: 4;

					.title {
						color: #0366d6;
						font-size:16px;
						font-weight:500;
						margin-bottom:5px;
					}
					.explaination {
						margin-bottom:20px;
						color:black;
					}

					.updated-on {
						color:lighter(black);
						margin-bottom:20px;

					}
				}

				.right-side {
					flex:1;

					.content {
					    display: flex;
					    flex: 1;
					    align-items: center;

					    .language, .star {
					    	color:black;
					    }
					}
				}
			}
		}
	}
}